body {
  background-image: url('image.JPG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

p
{
  font-size:40px;
  font-style:normal;
  color:white;
  margin-top: 0px;
  margin-left:650;
  margin-bottom: 20;
}

.b{
  text-align: center;
  font-size: 30px;
  background-color:black;
  height: 90px;
  margin-left: 20;
  width: 100;
}

table
{
  margin-left: 500;
}

input[type="button"]
{
  align:center;
  width:100%;
  height:100%;
  font-size: 35;
  color: black;
}

input[type="text"]
{
background-color:white;
align:center;
width:100%;
height:100%;
font-size: 40;
color: black;

}
